h1 {
    font-family: 'Butcherman', cursive;
    font-size: 700%;
    color: #ffffff;
}
h2 {
    padding-top: 5%;
    color: #7c7c7c;
}
p {
    color: white;
}
h4 {
    color: white;
    
    font-size: 200%;

}
body {
    background-image: url(../images/scary.jpg)
}
.game-screen {
    height: 25%;
}
.panel-footer {
    position: fixed;
	height: 40px;
	bottom: 0;
	width: 100%;
	background-color: #7c7c7c;
	color: white;
	text-align: center;
	border-top: solid 3px #4ece9f;
}
.window {
    background-color: #22262d;
    border: thin solid black;
}
.head {
    background-color: #22262d;
}